{% extends "geonode_base.html" %}

{% load i18n %}
{% load static %}

{% block title %} FAQs — {{ block.super }} {% endblock %}
{% block body_class %}faqs{% endblock %}


{% block body_outer %}
<div class="page-header">
  <h1>FAQ Page</h1>
</div>

<h2>What is the Biodiversity and Climate Geoportal for? </h2>
<p>This Geoportal has been designed to provide, upload, and share geospatial data regarding biodiversity and climate in
  Papua New Guinea. This includes data on coral reefs, mangroves, forests, and other critical ecosystems. Users can
  interact with maps and data, and also use it as a part of the grantmaking and reporting process for the Biodiversity
  and Climate Fund. To learn more about the fund, see the website. </p>

<h2>Who is the custodian of the Biodiversity and Climate Geoportal?</h2>
<p>Currently the custodian of the Geoportal is the United Nations Development Programme (UNDP) in Papua New Guinea. All
  data is serviced through cloud computing services provided by UN International Computing Center (UN ICC) and Amazon
  Web Services. This ensures fast data transfers and constant availability. </p>

<h2>Is all of the data public? </h2>
<p>Most of it. At the time of writing, data uploaded into the Biodiversity and Climate Geoportal by UNDP is from
  globally available, open datasets. Whilst these datasets are public, data can be uploaded which is for certain users
  or private. </p>

<h2>How can I learn more about how to use the Geoportal? </h2>
<p>We are developing training materials which will be available on this site in mid-2022.
</p>

<h2>Why do I need a user account?</h2>
<p>Registering for a user account gives can unlock more functionalities such as uploading data, editing data, styling
  data, adding metadata, and joining a “user group”. User groups may have special privileges or share private data to
  certain members. </p>

<h2>How can I make a user account? </h2>
<p>Click on the “Register” button. Once you have filled in your request, an administrator will review your account
  creation. If approved, you will receive an email with your username and password shortly afterwards. </p>


{% endblock %}